.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fb-login {
  float: left;
  height: 100%;
}

.fb-login .fb-login-button,
.fb-login .fb-login-connected {
	top: 50%;
	position: relative;
	display: block;
	transform: translateY(-50%);
	margin: 0;
}

.fb-login .fb-login-button i {
	padding-left: 2px;
}

.fb-login .fb-login-connected img {
	padding: 2px;
	height: 30px;
	width: 30px;
	border: 1px solid #b8a279;
}

.myprofilemenu .mg-col {
	min-width: 176px;
	border-right: none;
	padding: 4px 5px;
}

.myprofilemenu .dropdown-menu {
	left: -100%;
}


.myprofilemenu .myprofilemenu-content a {
	display: block;
	padding: 10px 22px;
	line-height: 1.42857143;
	color: #b2b2b2;

	-webkit-transition: background-color .3s, color .3s, transform .3s;
	-moz-transition: background-color .3s, color .3s, transform .3s;
	transition: background-color .3s, color .3s, transform .3s;
}

.myprofilemenu .myprofilemenu-content a:hover {
	color: #fff;
	background-color: transparent;
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	transform: translateX(5px);
}

#register .register-choice-button {
	width: 100%;
}

#register .register-choice-button li {
	width: 50%;
	text-align: center;
	padding: 0 5px;
}

#register .register-choice-button li a {
	width: 100%;
}

.first-section {
	padding-top: 7rem;
}

.profile-picture-wrapper {
	height: 200px;
	margin: 15px 0;
	overflow: hidden;
}

.profile-picture {
	background-size:cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.profile:hover .profile-picture-wrapper .profile-picture {
	transform: scale(1.1);
	transition: all .3s;

}

.profile-description {
	height: 170px;
}

.profile-buttons {
	text-align: center;
	margin-bottom: 15px;
}

.profile {
	text-transform: capitalize;
}

.profile:hover {
	background-color: rgba(65, 65, 65, 0.2);
}

.profile-list {
	padding: 80px 100px;
}

.profile-list .arrow-left,
.profile-list .arrow-right
{
	font-size: 10rem;
	color: #bbbbbb;
	position: absolute;
	top: 50%;
}

.profile-list .arrow-left:hover,
.profile-list .arrow-right:hover
{
	cursor: pointer;
}

.profile-list .arrow-left.disabled,
.profile-list .arrow-right.disabled
{
	color: #dddddd;
}

.profile-list .arrow-left.disabled:hover,
.profile-list .arrow-right.disabled:hover
{
	cursor: auto;
}

.profile-list .arrow-left
{
	left: 10px;
}

.profile-list .arrow-right
{
	right: 10px;
}